<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel='stylesheet' href='/static/css/style.css'>
</head>
<body>
    <div class='main'>
        <h2>Sign-Up Form </h2>
        <div class='form'>
            Name:   <input type='text' placeholder='Enter name' required> <br><br>
            Mobile: <input type='tel' placeholder='Enter mobile' required> <br><br>
            Email : <input type='email' placeholder='Enter Email' required> <br><br>
            Gender:
            Male:
            <input type="radio" name="gender" id="male" value="male" checked>
            Female:
            <input type="radio" name="gender" id="female" value="female"><br><br>
            DOB:    <input type='date' placeholder='Enter dob' required> <br>
            <button type='button' class='btn1'>Sign Up</button>
            <button type='button'  class='btn2'>Sign In</button>
        </div>
    </div>
    
    
</body>
</html>